[submodule "Ciencia_Analitica_Datos"]
	path = Ciencia_Analitica_Datos
	url = https://github.com/carloshgalvan95/Ciencia_Analitica_Datos.git
	branch = main
[submodule "Visualizacion_Datos"]
	path = Visualizacion_Datos
	url = https://github.com/carloshgalvan95/Visualizacion_Datos.git
	branch = main
[submodule "IA_ML"]
	path = IA_ML
	url = https://github.com/carloshgalvan95/IA_ML.git
	branch = main
[submodule "NLP"]
	path = NLP
	url = https://github.com/carloshgalvan95/NLP.git
	branch = main
[submodule "Big_Data"]
	path = Big_Data
	url = https://github.com/carloshgalvan95/Big_Data.git
	branch = main
